<div class="container">
    <div class="home-index">
        <div class="row">
            <div class="col-3"></div>
                <div class="user-list"></div>
            <div class="col-6">
            <h1>Messages</h1>

            <div class="message-form">
                <%= render 'messages/message_form' %>
            </div>

            <div class="message-box">
                <%= turbo_stream_from 'messages', id: "messages" %>
                <% @messages.each do |message|%>
                    <%# why does this fail when put in _message partial, undefined key%>
                    <%= turbo_frame_tag(dom_id(message)) do %>
                        
                        <div class="message-entirety">
                        <p>
                        <%= message.user.username %>
                        <%= message.created_at %> > 
                        <div class="message-body">
                        <%= message.body %>
                        </p>
                        </div>
                        </div>
                        
                    <% end %>
                <% end %>
            </div>

            <div class="col-3"></div>
            
            </div>
        </div>
    </div>
</div>