
<div id="container">

<h1>Messages</h1>
<div id="row">
<div id="col">

<div id="message-form">
<%= render 'home/message_form' %>
</div>
</div>
</div>



<div id="row">
<div id="col">
<div id="foo">
<%= turbo_stream_from 'messages', id: "messages" %>
<% @messages.each do |message|%>
   <%= turbo_frame_tag(dom_id(message)) do %>
        <p>
        <%= message.user.username %> <br/>
        <%= message.created_at %> <br/>
        <%= message.body %>
        </p>
    <% end %>

<% end %>

</div>
</div>

</div>
</div>
